* {
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  margin: 20px;
  padding: 0;
}

h1 {
  margin-top: 0;
  font-size: 32px;
  line-height: 1.5;
  color: #4b1c1c;
  text-shadow: 1px 1px #c30000;
}

h2 {
  margin-top: 0;
  font-size: 24px;
  text-shadow: 1px 1px #c30000;
  text-align: center;
}

h3 {
  margin-top: 0;
  font-size: 18px;
}

h4 {
  margin-top: 0;
  font-size: 16px;
}

h5 {
  margin-top: 0;
  font-size: 14px;
}

h6 {
  margin-top: 0;
  font-size: 12px;
}

code {
  font-size: 1.2em;
}

ul {
  padding-left: 20px;
}

* {
  box-sizing: border-box;
}

body {
  max-height: 100vh;
  background: rgb(231,210,190);
  background: linear-gradient(90deg, rgba(231,210,190,1) 0%, rgba(193,142,113,1) 91%);
  font-family: sans-serif;
  margin: 20px;
  padding: 0;
}

.square {
  background: #fff;
  border: 1px solid #c30000;
  font-size: 24px;
  font-weight: bold;
  line-height: 34px;
  float: left;
  height: 80px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  width: 80px;
  border-radius: 5px;
}

.square:hover {
  background-color: #f7b8b8;
  cursor: pointer;
}

.board-row:after {
  clear: both;
  content: '';
  display: table;
}

.status {
  margin-bottom: 10px;
  background-color: #fff;
  padding: 10px;
  border-radius: 5px;
}
.game {
  display: flex;
  flex-direction: row;
}

.game-info {
  margin-left: 20px;
}

.restart-button {
  background-color: #9fc7b1; /* Set the background color */
  border: none; /* Remove the border */
  color: #552020; /* Set the text color */
  padding: 15px 24px; /* Set the padding */
  text-align: center; /* Center the text */
  text-decoration: none; /* Remove underline */
  display: inline-block; /* Set display to inline-block */
  font-size: 16px; /* Set font size */
  margin: 20px 0; /* Add some margin */
  cursor: pointer; /* Change cursor to pointer on hover */
  font-family: Georgia, 'Times New Roman', Times, serif;
}

.restart-button:hover {
  background-color: #3e8e41; /* Darken the background color on hover */
}

.center-div {
  display: flex;
  flex-direction: column;
  align-items: center;

}

.match-history {
  margin-top: 20px;
  padding: 10px;
  border: 2px solid #333;
  border-radius: 5px;
  background-color: #f2f2f2;
  overflow-y: scroll;
  max-height: 100px;
}

.match-history li {
  font-size: 16px;
  margin-bottom: 5px;
  padding: 5px;
  background-color: #ddd;
  border-radius: 3px;
  list-style-type: none;
  display: flex;
  align-items: center;
}

.match-history li:nth-child(odd) {
  background-color: #ccc;
}

.match-history .history-player {
  font-weight: bold;
  margin-right: 5px;
}

.match-history .history-result {
  font-weight: normal;
}

.date-history {
  font-weight: bold;
}